<!-- =========== Navbar Start =========== -->
<header id="navbar" class="@@link-color fixed top-0 inset-x-0 flex items-center z-40 w-full lg:bg-transparent bg-white transition-all py-5">
    <div class="container">
        <nav class="flex items-center">
            <!-- Navbar Brand Logo -->
            <a href="index.html">
                <img src="assets/images/logo-dark.png" class="h-16 logo-dark" alt="Timetrack CL" >
                <img src="assets/images/logo-light.png" class="h-16 logo-light" alt="Timetrack CL" >
            </a>
            
            <!-- Nevigation Menu -->
            <div class="hidden lg:block ms-auto">
                <ul class="navbar-nav flex gap-x-3 items-center justify-center">
                    <!-- Home Page Link -->
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/#technology">Tecnología</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#services">Servicios</a>
                    </li>                
                    <!-- Contact Page Link -->
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact">Contacto</a>
                    </li>
                </ul>
            </div>

            <!-- Download Button -->
            <div class="hidden lg:flex items-center ms-3">
                <a href="https://results.sporthive.com/for/timetrack" target="_blank" class="bg-primary text-white px-4 py-2 rounded inline-flex items-center text-sm">Resultados</a>
            </div>

            <!-- Moblie Menu Toggle Button (Offcanvas Button) -->
            <div class="lg:hidden flex items-center ms-auto px-2.5">
                <button type="button" data-fc-target="mobileMenu" data-fc-type="offcanvas">
                    <i class="fa-solid fa-bars text-2xl text-gray-500"></i>
                </button>
            </div>
        </nav>
    </div>
</header>
<!-- =========== Navbar End =========== -->

<!-- =========== Mobile Menu Start (Offcanvas) =========== -->
<div id="mobileMenu" class="fc-offcanvas-open:translate-x-0 translate-x-full fixed top-0 end-0 transition-all duration-200 transform h-full w-full max-w-md z-50 bg-white border-s hidden">
    <div class="flex flex-col h-full divide-y-2 divide-gray-200">
        <!-- Mobile Menu Topbar Logo (Header) -->
        <div class="p-6 flex items-center justify-between">
            <a href="/">
                <img src="assets/images/logo-dark.png" class="h-8" alt="Logo">
            </a>

            <button data-fc-dismiss class="flex items-center px-2">
                <i class="fa-solid fa-xmark text-xl"></i>
            </button>
        </div>

        <!-- Mobile Menu Link List -->
        <div class="p-6 overflow-scroll h-full">
            <ul class="navbar-nav flex flex-col gap-2" data-fc-type="accordion">
                <!-- Home Page Link -->
                <li class="nav-item">
                    <a href="/#home" class="nav-link">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/#technology">Tecnología</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#services">Servicios</a>
                </li>        

                <!-- Contact Page Link -->
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">Contacto</a>
                </li>
            </ul>
        </div>

        <!-- Mobile Menu Download Button (Footer) -->
        <div class="p-6 flex items-center justify-center">
            <a href="https://results.sporthive.com/for/timetrack" target="_blank" class="bg-primary w-full text-white p-3 rounded flex items-center justify-center text-sm">Resultados</a>
        </div>
    </div>
</div>
<!-- =========== Mobile Menu End =========== -->