<!-- =========== cta Section Start =========== -->
<section class="pt-20" id="contact">
    <div class="container">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-6">
            <div data-aos="fade-up" data-aos-duration="600">
                <h2 class="md:text-3xl text-xl font-semibold my-5">¿Hablemos?</h2>
                <p class="text-slate-700">Si requieres asistencia para cronometrar tu próximo evento deportivo, no dudes en contactarno. Estaremos encantado de agendar una llamada contigo y discutir todos los detalles necesarios.                    </p>
                <p class="text-slate-500 mt-12">Escribenos a:</p>
                <h3>
                    <a href="mailto:&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#111;&#64;&#116;&#105;&#109;&#101;&#116;&#114;&#97;&#99;&#107;&#46;&#99;&#108;" class="text-lg font-semibold text-slate-600">&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#111;&#64;&#116;&#105;&#109;&#101;&#116;&#114;&#97;&#99;&#107;&#46;&#99;&#108;</a>
                </h3>
                <strong>+56 9 6237 9642</strong>
                
            </div>

            <div data-aos="fade-up" data-aos-duration="900">

                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                <script>
                  hbspt.forms.create({
                    portalId: "48903751",
                    formId: "5354eecb-7a93-4ebb-938b-9163e4e2bdd0"
                  });
                </script>                  
            </div>
        </div>
        <hr class="mt-10">
    </div>
</section>
<!-- =========== cta Section End =========== -->