.hero-section {
    @apply relative pt-44 pb-44 bg-gradient-to-t from-slate-500/10 overflow-x-hidden;
    background-image: url('/assets/images/hero/hero-7-mobile.jpg');
    background-position: left;
    
    @screen md {
        
        background-size: cover;
        background-image: url('/assets/images/hero/hero-7.jpg');
    }
}